
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #073c52, #05325b);
    overflow: hidden;
    margin: 0;
    flex-direction: column;
}


.floating-button {
    position: fixed; /* Fija la posición en la esquina */
    bottom: 20px; /* Distancia desde el fondo */
    right: 20px; /* Distancia desde la derecha */
    background-color: #9c75ff; /* Color del botón */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 50%; /* Forma circular */
    width: 60px; /* Ancho del botón */
    height: 60px; /* Alto del botón */
    display: flex; /* Centra la flecha */
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    font-size: 30px; /* Tamaño de la fuente para la flecha */
    text-decoration: none; /* Elimina el subrayado del enlace */
    box-shadow: 0 4px 8px rgba(70, 2, 243, 0.742); /* Sombra para dar profundidad */
    transition: background-color 0.3s, transform 0.2s ease; /* Transición suave para efectos */
}

.floating-button:hover {
    background-color: #fdffff; 
    transform: scale(1.1); 
}

.floating-button:active {
    transform: scale(0.95); 
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 600px;
}

#game-title {
    font-size: 2em;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
}

button {
    width: 300px;
    height: 300px;
    background-color: #ffffff;
    border: 2px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    transition: box-shadow 0.2s;
    position: relative;
    outline: none;
    box-sizing: border-box;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button:active {
    transform: scale(0.95);
}

button img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

button:focus {
    outline: none;
}

.result-container {
    display: flex;
    flex-direction: column;  
    justify-content: center;  
    align-items: center;  
    gap: 20px;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Imagen */
.result-container img {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.result-container label {
    font-size: 1.5em;
    color: #ffffff;
    margin-bottom: 10px;
}

.result-container button.continue-button {
    width: 150px;
    padding: 5px 15px;
    font-size: 14px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.result-container button.continue-button:hover {
    background-color: #45a049;
}

.result-container button:hover {
    background-color: #45a049;
}

.correct-message {
    font-size: 1.5em;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.button-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    width: 100%;
}

.result-container label, .result-container img {
    text-align: center;
}
