.floating-button {
    position: fixed; 
    bottom: 20px; 
    right: 20px;
    background-color: #4101e2; 
    color: white; 
    border: none; 
    border-radius: 50%;
    width: 50px; 
    height: 50px; 
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 24px; 
    text-decoration: none; 
    box-shadow: 0 4px 8px rgba(70, 2, 243, 0.742); 
    transition: background-color 0.3s; 
}

.floating-button:hover {
    background-color: #fdffff; 
}


.controls {
    margin: 20px;
    text-align: center;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px; 
}


.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%; 
}


input:checked + .slider {
    background-color: #2196F3; 
}


input:checked + .slider:before {
    transform: translateX(26px); 
}


.aquarium.neon {
    background: linear-gradient(to bottom, #ff00ff, #00ffff); 
}

.aquarium.neon .sand {
    background: #0044ff; 
}

.aquarium.neon .fish {
    background-color: #ff007f; 
}

.aquarium.neon .fish1 {
    background-color: #8eff31; 
}

.aquarium.neon .fish2 {
    background-color: #ff4500; 
}

.aquarium.neon .fish3 {
    background-color: #00fa9a; 
}

.aquarium.neon .starfish {
    background-color: #07ffbd;
}

.aquarium.neon .pufferfish {
    background-color: #ff348c;
}

.aquarium.neon .pufferfish.fin {
    background-color: #00fa9a;
}
.aquarium.neon .pufferfish .mouth {
    background-color: #75ffff;
}



body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1a1a40; 
    overflow: hidden;
}

.aquarium {
    position: relative;
    width: 80%;
    height: 60%;
    background: linear-gradient(to bottom, #1a75ff, #004080);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}


.sand {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #f4e1b2; 
    z-index: 1;
    overflow: hidden;
}

.sand .grain {
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 10px;
    background-color: #e4c07e;
    border-radius: 50%;
    animation: move-sand 5s linear infinite;
}


@keyframes move-sand {
    0% {
        transform: translateX(0) translateY(0);
    }
    100% {
        transform: translateX(50px) translateY(0);
    }
}


.aquarium:hover .sand .grain {
    animation: move-sand-hover 10s linear forwards;
}

@keyframes move-sand-hover {
    0% {
        transform: translateX(0) translateY(0);
    }
    100% {
        transform: translateX(20px) translateY(20px); 
    }
}



.fish {
    position: absolute;
    width: 50px;
    height: 30px;
    background-color: #ff6347; 
    border-radius: 50%;
    animation: swim-random 15s ease-in-out infinite;
    transform: scaleX(-1); 
    
}


.fish:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -15px;
    width: 20px;
    height: 20px;
    background-color: #68fcff; /* Color de la cola */
    border-radius: 0 50% 50% 0;
    transform: translateY(-50%) rotate(-30deg);
}


.fish:after {
    content: '';
    position: absolute;
    top: 8px;
    right: 8px;
    width: 5px;
    height: 5px;
    background-color: white; 
    border-radius: 50%;
}


.fish1 {
    top: 20%;
    left: -100px;
    animation-delay: 2s;
}

.fish2 {
    top: 50%;
    left: -150px;
    background-color: #ffa500;
    animation-delay: 4s;
}

.fish2:before {
    background-color: #ff8c00;
}

.fish3 {
    top: 80%;
    left: -200px;
    background-color: #00fa9a;
    animation-delay: 6s;
}

.fish3:before {
    background-color: #2e8b57;
}

.fish4 {
    top: 80%;
    left: -200px;
    background-color: #fafa00;
    animation-delay: 6s;
}

.fish4:before {
    background-color: #91ea00;
}


.juanxito {
    position: absolute; 
    width: 200px; 
    height: auto;
}


.juanxito img {
    width: 100%; 
    height: auto; 
}


.nemo {
    position: absolute; 
    height: auto; 
}


.nemo img {
    width: 100%; 
    height: auto; 
}


.nemo-small {
    width: 30px; 
}

.nemo-medium {
    width: 50px; 
}

.nemo-large {
    width: 70px; 
}


.horse {
    position: absolute; 
    height: auto; 
}


.horse img {
    width: 100%; 
    height: auto; /
}
.flip-horse img {
    transform: scaleX(-1); 
}


.horse-small {
    width: 150px; 
    top: 50px; 
    left: 1100px; 
}

.horse-medium {
    width: 120px; 
    top: 300px; 
    left: 800px; 
}

.horse-large {
    width: 70px; 
    top: 20px; 
    left: 80px; 
}


.alga {
    position: absolute; 
    height: auto; 
}

.alga img {
    transform:scaleX(-1);
}

.alga-small {
    width: 300px; 
    top: 10px; 
    left: 1100px; 
}

.alga-medium {
    width: 120px; 
    top: 10px; 
    left: 350px; 
}

.alga2{
    position: absolute; 
    width: 200px;
    height: auto; 
    left: 800px;
    top: 100px;
}

.alga2 img {
    transform:scaleX(-1);
}

.alga3 {
    position: absolute; 
    width: 200px; 
    height: auto; 
    left: 450px;
    top: 100px;
}

.alga3 img {
    transform:scaleX(-1);
}

.coral {
    position: absolute; 
    width: 10px; 
    height: auto; 
    left: 10px;
    top: 200px;
}

.coral img {
    transform:scaleX(-1);
}



@keyframes swim-random {
    0% {
        transform: translate(0, 0) scaleX(1); 
    }
    25% {
        transform: translate(50vw, 10px) scaleX(1); 
    }
    50% {
        transform: translate(40vw, -20px) scaleX(-1); 
    }
    75% {
        transform: translate(10vw, 30px) scaleX(-1); 
    }
    100% {
        transform: translate(0, 0) scaleX(1); 
    }
}

.starfish {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #fd5696;
    clip-path: polygon(50% 5%, 62% 30%, 98% 35%, 72% 50%, 78% 75%, 50% 60%, 22% 75%, 28% 50%, 2% 35%, 38% 30%);
    transform: rotate(0deg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 30px; 

}


.starfish {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.bubble {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    animation: float 1s ease-in forwards; 
    opacity: 0; 
}


@keyframes float {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100px); 
        opacity: 0; 
    }
}

.jellyfish {
    transform: rotate(-5deg);
    position: absolute;
    display: block;
    width: 100px; /* Adjust width as needed */
}

.body, .stripes01, .stripes02 {
    position: absolute;
    display: block;
    height: 100px; /* Reduced height */
    background-color: #8836fa; /* Jellyfish body color */
    border-radius: 50% 50% 20% 20% / 70% 70% 40% 40%;
    box-shadow: inset 0px 0px 30px #af7ac5, 0px 0px 6px 0px #af7ac5; /* Shadow */
}

.body {
    top: 100px; /* Adjusted for smaller size */
    left: 200px; /* Adjusted for smaller size */
    width: 120px; /* Reduced width */
    border-bottom: 4px solid #af7ac5; /* Jellyfish body highlight */

    .stripes01, .stripes02 {
        border-radius: 50% 50% 20% 20% / 70% 70% 40% 40%;
        border-left: 4px solid #af7ac5; /* Jellyfish body highlight */
        border-right: 4px solid #af7ac5; /* Jellyfish body highlight */
    }

    .stripes01 {
        width: 100px; /* Reduced width */
        left: 10px; /* Adjusted for smaller size */
    }

    .stripes02 {
        width: 80px; /* Reduced width */
        left: 20px; /* Adjusted for smaller size */
    }
}

.tentacles {
    top: 130px; /* Adjusted for smaller size */
    position: absolute;
    display: block;
    left: 210px; /* Adjusted for smaller size */

    .tentA, .tentB, .tentC, .tentD, .tentE {
        border-radius: 100%;
        position: absolute;
        display: block;
        border: 10px solid transparent;
    }

    .tentA {
        border-radius: 80% 100% 100% 100%;
        height: 150px; /* Reduced height */
        width: 80px; /* Reduced width */
        border-left-color: #00d4ff; /* Tentacle color */
        border-bottom-width: 0px;
        transform: rotate(25deg);
        opacity: 0.4; /* Tentacle opacity */
    }

    .tentB {
        height: 180px; /* Reduced height */
        width: 100px; /* Reduced width */
        border-right-color: #00d4ff; /* Tentacle color */
        top: -20px; 
        left: -50px; 
        transform: rotate(-10deg);
        opacity: 0.4; 
    }

    .tentC {
        height: 200px; 
        width: 80px; 
        border-right-color: #00d4ff; 
        top: -30px; 
        left: -10px; 
        opacity: 0.4; 
    }

    .tentD {
        border-radius: 80% 100% 100% 100%;
        height: 180px; 
        width: 120px; 
        border-left-color: #00d4ff; 
        border-bottom-width: 0px;
        transform: rotate(25deg);
        opacity: 0.4; 
        left: 30px; 
        top: -20px; 
    }

    .tentE {
        border-radius: 80% 100% 100% 100%;
        height: 150px; 
        width: 100px; 
        left: -10px; 
        border-right-color: #00d4ff; 
        border-bottom-width: 0px;
        transform: rotate(-35deg);
        opacity: 0.4; 
    }
}

.middle, .one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten {
    position: absolute;
    display: block;
}

.middle {
    left: 200px;
    top: 290px;
    opacity: 0.7;

    .a, .b, .c, .d, .e {
        position: absolute;
        display: block;
        border-radius: 100%;
        height: 100%;
        width: 30%;
        box-shadow: inset 0px 0px 0px #ff4bff, 0px 0px 20px 0px #00d4ff; /* $midInner, $midOuter */
    }

    .a { left: -20%; }
    .b { top: 10%; left: 5%; }
    .c { top: 15%; left: 30%; }
    .d { top: 10%; left: 55%; }
    .e { left: 80%; }
}


.tentA, .tentB, .tentC, .tentD, .tentE {
    animation: tents 3s infinite;
}

@keyframes tents {
    0% { transform: scale(1.03, 0.95); }
    30% { transform: scale(1, 1.1); }
    35% { transform: scale(1, 1.1); }
    100% { transform: scale(1.03, 0.95); }
}

.body {
    animation: body 3s infinite;
}

@keyframes body {
    0% { transform: scale(1.005, 0.95); top: 120px; }
    30% { transform: scale(1, 1); top: 100px; }
    35% { transform: scale(1, 1); top: 100px; }
    100% { transform: scale(1.005, 0.95); top: 120px; }
}


.pufferfish {
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: #ffcc00; 
    border-radius: 50%;
    animation: swim-random-pufferfish 30s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    top:300px;
}


.pufferfish .eye {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #000;
    border-radius: 50%;
    top: 40%;
}

.pufferfish .left-eye {
    left: 25%;
}

.pufferfish .right-eye {
    right: 25%;
}


.pufferfish .mouth {
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    background-color: #ff3776;
    border-radius: 50%;
}


.pufferfish .spine {
    position: absolute;
    width: 15px;
    height: 3px;
    background-color: #780aff;
    border-radius: 5px;
    animation: spine-move 3s infinite ease-in-out;
}

.pufferfish .spine1 { top: 20%; left: 5%; transform: rotate(70deg); }
.pufferfish .spine2 { top: 40%; left: -10%; transform: rotate(90deg); }
.pufferfish .spine3 { top: 30%; right: -5%; transform: rotate(90deg); }
.pufferfish .spine4 { top: 10%; right: 10%; transform: rotate(90deg); }
.pufferfish .spine5 { top: 9%; left: 40%; transform: rotate(-45deg); }
.pufferfish .spine6 { bottom: 10%; left: 10%; transform: rotate(-90deg); }
.pufferfish .spine7 { bottom: 30%; right: 15%; transform: rotate(45deg); }
.pufferfish .spine8 { bottom: 10%; right: 25%; transform: rotate(90deg); }


.pufferfish .fin {
    position: absolute;
    width: 15px;
    height: 40px;
    background-color: #ff9933;
    border-radius: 50%;
    animation: fin-move 3s infinite ease-in-out;
    transform-origin: center;
}

.pufferfish .left-fin {
    position: absolute;
    top: 50%; 
    left: -15px; 
    width: 20px;
    height: 30px; 
    border-radius: 0 80% 0 80%; 
    background-color: #ff9933; 
    animation: fin-move 3s infinite ease-in-out; 
}


.pufferfish .right-fin {
    position: absolute;
    top: 50%; 
    left: 100%; 
    width: 20px;
    height: 30px; 
    border-radius: 80% 0 80% 0; 
    background-color: #ff9933; 
    animation: fin-move 3s infinite ease-in-out; 
}


@keyframes spine-move {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

@keyframes fin-move {
    0%, 100% {
        transform: rotate(0deg); 
    }
    50% {
        transform: rotate(15deg); 
    }
}


@keyframes swim-random-pufferfish {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(150vw, 50px);
    }
    100% {
        transform: translate(0, 0);
    }
}