body {
    margin: 0;
    padding: 0;
    background: radial-gradient(circle at 50% 55%, hsl(234, 81%, 64%), hsl(212, 81%, 21%), hsl(212, 100%, 12%));
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    position: relative; 
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: linear-gradient(100deg, #ffffff, #DFDFD4);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
                0 0 20px rgba(255, 255, 255, 0.6),
                0 0 30px rgba(255, 255, 255, 0.4);
    z-index: 1;
}

.twinkle {
    animation: twinkle 1s linear infinite;
}

@keyframes twinkle {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
}

#canvas, #tree {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 1;
}

#tree {
    z-index: 2;
    background: transparent;
}

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
    z-index: 999; 
}

.floating-button:hover {
    background-color: #fdffff; 
    transform: scale(1.1); 
}

.floating-button:active {
    transform: scale(0.95); 
}

.red {
    fill: #aa1231;
    animation: red-flash 0.6s ease-in-out infinite;
}

@keyframes red-flash {
    0%, 100% {
        fill: #aa1231;
    }
    50% {
        fill: #ea385c;
    }
}

.gold-lt {
    fill: #c1881c;
    animation: gold-lt-flash 0.6s ease-in-out infinite;
}

@keyframes gold-lt-flash {
    0%, 100% {
        fill: #c1881c;
    }
    50% {
        fill: #e7b75c;
    }
}

.blue-lt {
    fill: #1f3e64;
    animation: blue-lt-flash 0.6s ease-in-out infinite;
}

@keyframes blue-lt-flash {
    0%, 100% {
        fill: #1f3e64;
    }
    50% {
        fill: #386fb1;
    }
}

.blue-dk {
    fill: #0f1f2f;
    animation: blue-dk-flash 0.6s ease-in-out infinite;
}

@keyframes blue-dk-flash {
    0%, 100% {
        fill: #0f1f2f;
    }
    50% {
        fill: #28527c;
    }
}

.gold-dk {
    fill: #69512a;
    animation: gold-dk-flash 0.6s ease-in-out infinite;
}

@keyframes gold-dk-flash {
    0%, 100% {
        fill: #69512a;
    }
    50% {
        fill: #b28947;
    }
}